In [14]:
#Importing pandas and Path
import pandas as pd
from pathlib import Path

In [15]:
#Importing json files from Postman
btc_json = pd.read_json('bitcoin.json')
peso_json = pd.read_json('MXN_peso.json')
cad_json = pd.read_json('CAD_dollar.json')

#Saving json files as CSV files
btc_json.to_csv('btc_data.csv')
peso_json.to_csv('peso_data.csv')
cad_json.to_csv('cad_data.csv')

In [16]:
#Setting variables for CSV files
btc_data = pd.read_csv(Path('btc_data.csv'))
peso_data = pd.read_csv(Path('peso_data.csv'))
cad_data = pd.read_csv(Path('cad_data.csv'))

In [17]:
#Cleaning up Bitcoin data, removing extra rows and columns
btc_df = btc_data.drop(index=[1831, 1832], columns=['disclaimer', 'time'])
#Renaming columns to more uniform names
btc_df.rename(columns={'Unnamed: 0':'Date','bpi':'BTC to USD'}, inplace=True)
#Grouping by date
btc_grp = btc_df.groupby('Date').sum()
#Displaying sample
btc_grp.head()

            BTC to USD
Date
2013-09-01    128.2597
2013-09-02    127.3648
2013-09-03    127.5915
2013-09-04    120.5738
2013-09-05    120.5333

In [18]:
#Cleaning up Mexican Peso data, removing extra rows and columns
peso_df = peso_data.drop(['start_at', 'base', 'end_at'], axis=1)
#Renaming columns to more uniform names
peso_df.rename(columns={'Unnamed: 0':'Date', 'rates':'MXN to USD'}, inplace=True)
#Grouping by date
peso_grp = peso_df.groupby('Date').sum()
#Removing special characters (except for . to maintain decimals)
peso_grp['MXN to USD'] = peso_grp['MXN to USD'].str.replace("'USD':", '').str.strip('{}')
#Displaying sample
peso_grp.head()

               MXN to USD
Date
2013-09-02   0.0752445576
2013-09-03   0.0744879378
2013-09-04   0.0750215023
2013-09-05   0.0745808289
2013-09-06    0.075046915

In [19]:
#Cleaning up Canadian Dollar data, removing extra rows and columns
cad_df = cad_data.drop(['start_at', 'base', 'end_at'], axis=1)
#Renaming columns to more uniform names
cad_df.rename(columns={'Unnamed: 0':'Date', 'rates':'CAD to USD'}, inplace=True)
#Grouping by date
cad_grp = cad_df.groupby('Date').sum()
#Removing special characters (except for . to maintain decimals)
cad_grp['CAD to USD'] = cad_grp['CAD to USD'].str.replace("'USD':", '').str.strip('{}')
#Displaying sample
cad_grp.head()

                     CAD to USD
Date
2013-09-02   0.9496656360000001
2013-09-03   0.9500865551000001
2013-09-04         0.9534530187
2013-09-05         0.9541085495
2013-09-06   0.9587048677000001

In [20]:
#Concatenating lists, index set to Date
currency_data = pd.concat([cad_grp, peso_grp, btc_grp], axis="columns", join="inner")
#Exporting DataFrame to CSV file currency_data.csv
currency_data.to_csv("currency_data.csv")
#Displaying sample
currency_data.head()

                     CAD to USD     MXN to USD  BTC to USD
Date
2013-09-02   0.9496656360000001   0.0752445576    127.3648
2013-09-03   0.9500865551000001   0.0744879378    127.5915
2013-09-04         0.9534530187   0.0750215023    120.5738
2013-09-05         0.9541085495   0.0745808289    120.5333
2013-09-06   0.9587048677000001    0.075046915    116.3210

In [21]:
#Reading in GDP data
gdp_data = pd.read_csv("GDP.csv")
#Renaming index for uniformity
gdp_data.rename(columns={"DATE":"Date"}, inplace=True)
gdp_grp = gdp_data.groupby('Date').sum()
#Displaying sample
gdp_grp.head()

                  GDP
Date
2013-07-01  16848.748
2013-10-01  17083.137
2014-01-01  17104.555
2014-04-01  17432.909
2014-07-01  17721.657

In [25]:
#Creating new DataFrame with all data
total_data = pd.concat([currency_data, gdp_grp], axis="columns", join="outer", sort=True)
#Dropping all null values
total_data = total_data.dropna()
#Displaying sample data
total_data.head()

                     CAD to USD            MXN to USD  BTC to USD        GDP
2013-10-01         0.9707778255          0.0761216914    125.4938  17083.137
2014-04-01         0.9047962732   0.07649933710000001    478.7163  17432.909
2014-07-01         0.9383697813          0.0770031335    635.5905  17721.657
2014-10-01   0.8913643115000001          0.0744101741    381.3324  17849.912
2015-04-01         0.7889524648          0.0656405061    246.5548  18223.577

In [26]:
#Reading in Bitcoin trading volume data
cad_volume = pd.read_csv("cad_volume.csv")
usd_volume = pd.read_csv("usd_volume.csv")
mxn_volume = pd.read_csv("mxn_volume.csv")

#Renaming index for uniformity
cad_volume.rename(columns={"Label":"Date"}, inplace=True)
usd_volume.rename(columns={"Label":"Date"}, inplace=True)
mxn_volume.rename(columns={"Label":"Date"}, inplace=True)

In [27]:
#Displaying sample data
cad_volume.head()

         Date  Value
0  2013-03-16   4316
1  2013-03-23   3253
2  2013-03-30   4838
3  2013-04-06  18098
4  2013-04-13  22798

In [28]:
#Displaying sample data
usd_volume.head()

         Date   Value
0  2013-03-16    8186
1  2013-03-23   21075
2  2013-03-30   16792
3  2013-04-06   55782
4  2013-04-13  112238

In [29]:
#Displaying sample data
mxn_volume.head()

         Date     Value
0  2013-03-16  157561.0
1  2013-03-23    5296.0
2  2013-03-30   12003.0
3  2013-04-06    1563.0
4  2013-04-13   14504.0